@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);

.wpsubs-tw-root {
  @import "tailwindcss/preflight.css" layer(base);
  @import "tailwindcss/utilities.css" layer(utilities);

  @import "flowbite/src/themes/default"; /* Flowbite theme (colors, radiuses, etc.) */
  @import "flowbite"; /* Flowbite component styles (buttons, inputs, toggles, alerts, etc.) */
}

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
