name: Update Plugin Assets/Readme
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  assets_readme_update:
    name: Update Assets/Readme
    runs-on: ubuntu-latest

    # Only run on manual trigger or PRs from non-release branches
    if: ${{ github.event_name == 'workflow_dispatch' || !startsWith(github.event.pull_request.head.ref, 'release/') }}

    steps:
      - name: Cloning repository
        uses: actions/checkout@v6

      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@stable
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SLUG: subscription
          ASSETS_DIR: .wordpress-org
          README_NAME: readme.txt
          IGNORE_OTHER_FILES: true
